<template name="externalUserProfile">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="glyphicon glyphicon-home" id="menu-icon-list"></span>
            </a>
        </div>
    </nav>
    <div class="nav-title-center">
        <h3>Mi perfil</h3>
    </div>
    <div class="content-scrollable list-items list-container">
        <div class="content-profile">
            <div class="row">
                <div class="col-sm-12 col-md-12 user-details">

                    <div class="user-info-block" style="padding-top: 8px;margin: 0px 0 0;">
                        <div class="circular"
                             style="background: url('{{getBackgroundStyleForOthers _id}}') no-repeat;  background-size: 120px;"></div>
                        <div class="user-heading" style="margin-top:24px;">
                            <h3>{{getFullNameForOthers _id}}</h3>
                            <div class="rateit-profile-other" data-rateit-value="{{stats.rating}}"
                                 data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <br/>
                        </div>
                        <div class="user-body">
                            <div class="tab-content">
                                <div id="information" class="tab-pane active">
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon user-ancho">User Name</span>
                                            <input type="text" class="form-control" placeholder="User Name"
                                                   value="{{profile.name}}" disabled="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Nivel</span>
                                            <input type="text" class="form-control" placeholder="Nivel"
                                                   value="{{getLevelForOthers profile.level}}" disabled="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Km Acumulados</span>
                                            <input type="text" class="form-control" placeholder="Km Acumulados"
                                                   value="{{getKmAccumOther profile.kmAccum}}" disabled="true">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Marcadores</span>
                                            <input type="text" class="form-control" placeholder="Marcadores"
                                                   value="{{stats.markersCount}}" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>