<template name="mainContent">
<div class="st-pusher">
	<div class="st-content">
        <div class="st-content-inner"> 
            <div class="main clearfix">
                <div id="st-trigger-effects" class="column">
                    <button data-effect="st-effect-2" id="reveal-button" class="reveal-button">
                        <img src="/imgs/reveal-bar.png" width="24px"/>
                    </button>
                    <div class="demo-wrapper">
                    <div class="heatmap">
                        </div>
                    </div>
                    <script src="/js/heatmap.min.js"></script>
                </div>
            </div>
        </div>
	</div>
</div>
</template>