*,*:after,*::before {	-moz-box-sizing: border-box;	box-sizing: border-box; }
html, body,.st-container,.st-pusher,.st-content { height: 100%;    margin: 0px; }

.container { background: url('/imgs/login/fondo_login.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; border: 0; border-radius: 0; margin: 0; height: 100%; }
.logo-container { width: 100%; margin-top: 10px; text-align: center; }

.at-title,.at-sep { display: none; }
.at-signal-link { }

.google-map { width: 100%; height: 800px; }
.gmnoprint a, .gmnoprint span { display:none; }
.gmnoprint div { background:none !important; }

.container-map { text-align: center; }
#play-button { position: absolute; z-index: 990; border: 0; background: transparent; outline: none; bottom: 0; margin-left: -40px; padding-bottom: 8px; }


