<template name="googleMapInner">
    <div id="map-canvas" style="position: absolute; width: 100%; height:100%"></div>
    <button type="button" class="btn btn-warning btn-circle btn-lg" id="play_button">
        <span class="glyphicon glyphicon-play" id="play-pause-icon"></span>
    </button>
    <div id="markers-menu-wrapper">
        <ul class="markers-menu" role="menu">
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_estacionamiento.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_evento.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_servicentro.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_taller.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_tienda.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_robo.png" width="52"/></a></li>
        </ul>
    </div>
</template>