<template name="googleMap">
    <div id="map-canvas" style="position: absolute; width: 100%; height:100%"></div>

    {{> markerModalDetail }}

    {{> infobubble }}

    <button type="button" class="btn btn-warning btn-circle btn-lg" id="play-button">
        <span class="glyphicon glyphicon-play" id="play-pause-icon"></span>
    </button>

    <button type="button" class="btn toggled" id="show-current-location-btn">
        <span class="glyphicon glyphicon-screenshot" id="findme-icon"></span>
    </button>

    <button type="button" class="btn" id="addmarker-btn">
        <span class="glyphicon glyphicon-plus" id="plusmarker-icon"></span>
    </button>

    <button type="button" class="btn toggled" id="visibility-btn">
        <span class="glyphicon glyphicon-eye-close" id="visibility-icon"></span>
    </button>

    <div id="markers-menu-wrapper">
        <ul class="markers-menu" role="menu">
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_estacionamiento.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_evento.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_servicentro.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_taller.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_tienda.png" width="52"/></a></li>
            <li><a class="marker-add" href="#"><img src="/imgs/markers/ic_map_robo.png" width="52"/></a></li>
        </ul>
    </div>
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item"><span class="glyphicon glyphicon-home" id="menu-icon"></span></a>
        </div>
    </nav>


</template>