<template name="layout">
    <div class="container-slide-nav">
        
        <div class="menu-wrap-slide-nav">
            <nav class="menu-slide-nav">
                <div class="icon-list-slide-nav">
                    <a href="{{pathFor 'googleMap'}}"><i class="fa fa-fw fa-comment-o"></i><span>Mapa</span></a>
                    <a href="{{pathFor 'userEventList'}}"><i class="fa fa-fw fa-comment-o"></i><span>Eventos</span></a>
                    <a href="{{pathFor 'userTrackList'}}"><i
                            class="fa fa-fw fa-comment-o"></i><span>Mis Rutas</span></a>
                    <a href="{{pathFor 'seeYouLater'}}"><i class="fa fa-fw fa-comment-o"></i><span>Salir</span></a>
                </div>
            </nav>
        </div>

        <div class="content-wrap-slide-nav">
            
            <div class="content-slide-nav" style="min-height: 100%">
                <button type="button" class="menu-button-slide-nav" id="open-button-slide-nav" style="{{#if currentUser}}{{else}}visibility:hidden{{/if}}">
                    <span class="glyphicon glyphicon-home" id="menu-icon"></span>
                </button>
                {{> yield}}
            </div>
        </div>
    </div>
    {{#unless connected}}
    <div class="notifications">
        <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
                <div class="title-notification">Intentando conectar</div>
                <div class="description">... No encuentro servidor</div>
            </div>
        </div>
    </div>
    {{/unless}}
</template>