@font-face {
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background: #f2f2f2;
    color: #666;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
}

a {
    color: #4e4a46;
    text-decoration: none;
    outline: none;
}


button:focus {
    outline: none;
}

section {
    padding: 1em;
    text-align: center;
}

/* Header */
.codrops-header {
    margin: 0 auto;
    padding: 3em 2em;
    text-align: center;
}

.codrops-header h1 {
    margin: 0 auto;
    font-weight: 800;
    font-size: 3.75em;
    line-height: 1;
}

.codrops-header h1 span {
    display: block;
    font-size: 50%;
    font-weight: 400;
    padding-top: 0.325em;
}

.codrops-links {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.69em;
    line-height: 2.2;
    padding: 1.61em 5em;
}

.codrops-links a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

body #cdawrap {
    top: auto;
    bottom: 35px;
    right: 35px;
    background: #b4bad2;
    border: 1px solid rgba(131, 135, 151, 0.6);
}

.demo-wave body #cdawrap {
    top: 35px;
    right: 35px;
    bottom: auto;
}

@media screen and (max-width: 40em) {
    body {
        font-size: 80%;
    }

    .codrops-header h1 {
        font-size: 2.5em;
    }

    .codrops-demos {
        max-width: 900px;
        padding: 2em 2em 0;
    }

    .related > a {
        margin: 20px 0;
    }
}

@media screen and (max-width: 25em) {

    .codrops-icon {
        font-size: 250%;
    }

    .codrops-icon span {
        display: none;
    }

}

.login-container {
    background: url('/imgs/login/fondo_login.png') no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
    border-radius: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    padding: 28px;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-top: 16px;

}

.at-title, .at-sep {
    display: none;
}

.at-oauth {
    display: block;
}

.at-signal-link {

}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    position: fixed;
    z-index: 990;
    bottom: 4px;
    border-line:1px ;
    border-color: #34495e;
    background-color:#FF7757 ;
    left:42%;
}

#markers-menu-wrapper { z-index: 1000; position: fixed; right: 72px; width: 0; height: 100%; margin-right: -72px; overflow-y: auto; background: rgba(0,0,0,0.2); -webkit-transition: all 0.5s ease;    -moz-transition: all 0.5s ease;    -o-transition: all 0.5s ease;    transition: all 0.5s ease; }
#markers-menu-wrapper.toggled { width: 56px; }
.markers-menu { position: absolute; top: 0; width: 52px; margin: 0; padding: 0; list-style: none; right: 0; }
.markers-menu li { line-height: 40px;}
.markers-menu li a { display: block; text-decoration: none; color: #999999;}
.markers-menu li a:hover { text-decoration: none; color: #fff; background: rgba(255,255,255,0.2);}
.markers-menu li a:active,.markers-menu li a:focus {    text-decoration: none;}

