<template name="userProfile">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="glyphicon glyphicon-home" id="menu-icon-list"></span>
            </a>
        </div>
    </nav>
    <div class="nav-title-center">
        <h3>Mi perfil</h3>
    </div>
    <div class="content-scrollable list-items list-container">
        <div class="content-profile">
            <div class="row">
                <div class="col-sm-12 col-md-12 user-details">
                    <div class="user-image">
                        <img src="{{getBackgroundStyle}}" class="img-circle">
                        {{> editYourAvatarModal}}
                    </div>
                    <div class="user-info-block">
                        <div class="user-heading">
                            <div class="rateit-profile" data-rateit-value="{{getUserRating}}"
                                 data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <br/>
                            <h3 id="title-full-name">{{getFullName}}</h3>
                            <div class="row" style="display:none" id="div-full-name">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon user-ancho">Nombre</span>
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           id="input-full-name" value="{{getFullName}}">
                                </div>
                            </div>
                        </div>
                        <div class="user-body">
                            <div class="tab-content">
                                <div id="information" class="tab-pane active">
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon user-ancho">User Name</span>
                                            <input type="text" class="form-control" placeholder="User Name"
                                                id="input-user-name" value="{{getName}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Nivel</span>
                                            <input type="text" class="form-control" placeholder="Nivel"
                                                   value="{{getLevel}}" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Km Acumulados</span>
                                            <input type="text" class="form-control" placeholder="Km Acumulados"
                                                   value="{{getKmAccum}}" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Marcadores</span>
                                            <input type="text" class="form-control" placeholder="Marcadores"
                                                   value="{{getMarkersCount}}" readonly="true"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>