<head>
    <meta charset="utf-8">
    <title>Bycler - Comparte el movimiento!</title>
    <meta name="description" content="Make your job simple">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1"/>
    <link rel="shortcut icon" type="image/png" href="favicon.ico?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon.ico">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJnpwjSWS0d0BUG7rF8SDlyRVnTfzKrMk&sensor=true">
    </script>
</head>