<template name="masterLayout">
{{#if currentUser}}
<div id="wrapper">
  {{> yield region='nav'}}
	<div id="page-content-wrapper">
	    <div class="container">
	         <div class="row">
               <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                 <img src="/imgs/navigation/reveal-bar-cloud.png" width="24px"/>
               </a>
               <a class="btn btn-default" id="menu-markers">
                 <img src="/imgs/navigation/plus-cloud.png" width="24px"/>
               </a>
	           {{> yield}}
	          </div>
	     </div>
	 </div>  
	 {{> yield region='footer'}}
</div>
{{else}}
<div class="container">
     <div class="row">
         {{> yield}}
     </div>
</div>
{{/if}}

</template>

