<template name="nav">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" role="menu">
      <li class="sidebar-brand">
        <a href="/">Bycler</a>
      </li>
      <li><a id="linkMainContent" href="/mainContent">Mapa</a></li>
      <li><a href="/full">Eventos</a></li>
      <li><a href="/states">Notificaciones</a></li>
      <li><a href="/profile">Puntos</a></li>
      <li><a href="/" id="signOut">Salir</a></li>
    </ul>
  </div>

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</template>

