<template name="userTrackList">
    {{#if userTracksListCount}}
    {{#each userTracksList}}
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-heading">
                    <h5><span>{{name}}</span> - <span>{{created}}</span></h5>
                    <h5><span>{{_id}}</span> - <span>{{userId}}</span></h5>
                    <h5><span>{{public}}</span></h5>
                </div>
                <div class="panel-footer">
                    <button type="button" class="view-track-btn" id="{{_id}}">
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    Lista Vacia
    {{/if}}

</template>