<template name="userTrackList">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="glyphicon glyphicon-home" id="menu-icon-list"></span>
            </a>
        </div>
    </nav>
    <div class="nav-title-center">
        <h3>Mis Rutas</h3>
    </div>
    <div class="content-scrollable list-items list-container">
        {{#if userTracksListCount}}
            {{#each userTracksList}}
                <div class="list-item">
                    <div class="col-xs-8">
                        <h5 class="list-group-item-heading">Nombre: <span>{{name}}</span></h5>
                        <h6 style="float: left">{{formatDate created}}  {{#if isTrackEmpty _id}}
                            Ruta vacia
                        {{/if}}</h6>
                    </div>
                    <div class="col-xs-4" style="margin-top: 0.7em;">
                        <input type="image" width="32" src="list/ver_ruta_seleccion.png"
                               class="list-view-item-img view-track-btn" id="{{_id}}"/>
                        <input type="image" width="32" src="list/no_seleccion.png"
                               class="list-delete-item-img delete-track-btn" id="{{_id}}"/>
                        <a type="button" class="detail-track-btn"
                           href="{{pathFor route='userTrackDetail' _id = _id}}">
                            <input type="image" width="32" src="list/ver_info_seleccion.png"
                                   class="list-detail-item-img detail-track-btn" id="{{_id}}"/>
                        </a>
                        {{#if isTrackStillAlive _id}}
                            <input type="image" width="32" class="still-in-track" src="list/rueda.png">
                        {{/if}}

                    </div>
                </div>
                <!-- /.row -->
                <hr>
            {{/each}}
        {{else}}
            <div class="alert alert-danger" role="alert" style="margin-top: 4px;">
                <a href="/googleMap" class="alert-link"><h4>Aun no has subido ninguna ruta</h4></a>
            </div>
        {{/if}}
    </div>
</template>