<template name="externalUserProfile">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="glyphicon glyphicon-home" id="menu-icon-list"></span>
            </a>
        </div>
    </nav>
    <div class="nav-title-center">
        <h3>Mi perfil</h3>
    </div>
    <div class="content-scrollable list-items list-container">
        <div class="content-profile">
            <div class="row">
                <div class="col-sm-12 col-md-12 user-details">
                    <div class="user-image">
                        <img src="{{getBackgroundStyle}}" class="img-circle">
                    </div>
                    <div class="user-info-block">
                        <div class="user-heading">
                            <h3>{{getFullName _id}}</h3>
                            <span class="help-block">{{getFullCountryCity}}</span>
                            <select onchange="print_state('state',this.selectedIndex);" id="country" name ="country" class="selectpickercountry"></select>
                            <br />
                            <select name ="state" id ="state" class="selectpickercity" aria-label="11"></select>
                            <script language="javascript">print_country("country");</script>
                        </div>
                        <div class="user-body">
                            <div class="tab-content">
                                <div id="information" class="tab-pane active">
                                    <h4>Account Information</h4>

                                    <div class="row">
                                        getName {{getName}}
                                    </div>
                                    <div class="row">
                                        getLevel  {{getLevel}}
                                    </div>
                                    <div class="row">
                                        getKmAccum {{getKmAccum}}
                                    </div>
                                    <div class="row">
                                        getMarkersCount  {{getMarkersCount}}
                                    </div>
                                    <div class="row">
                                        getUserRating {{getUserRating}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>