<template name="userTrackDetail">
    <div class="panel panel-warning">
        <div class="panel-heading" style="text-align: center;">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            <div class="bs-callout bs-callout-warning">
                <div><h5 class="list-group-item-text">{{formatDate created}}</h5></div>
                <div id="maxSpeed"></div>
                <div id="averageSpeed"></div>
                <div id="distance"></div>
                <div id="time"></div>
            </div>
        </div>
    </div>
</template>