<template name="userEventList">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item"><span class="glyphicon glyphicon-home" id="menu-icon"></span></a>
        </div>
    </nav>
    <div class="panel panel-warning">
        <div class="panel-heading" style="text-align: center;">
            <h3 class="panel-title">Mis Eventos</h3>
        </div>
        <div class="panel-body">
            {{#if userEventListCount}}
                {{#each userEventList}}
                    <div class="list-group">
                        <a class="list-group-item" style="height: 80px;">
                            <div class="col-xs-10">
                                <h5 class="list-group-item-heading">
                                    <span id="{{_id}}" class="btn-go-event-marker glyphicon glyphicon-map-marker"></span>
                                    {{data.nombre}}
                                </h5>

                                <div style="position: relative; min-height: 35px;">
                                    <h5 class="list-group-item-text" style="float: left">{{formatDate fecha}}</h5>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <button id="btn-asistencia{{_id}}" type="button" class="btn btn-{{#if userIsParticipant _id}}primary{{else}}default{{/if}} btn-asistencia">
                                    <label class="glyphicon glyphicon-thumbs-{{#if userIsParticipant _id}}up{{else}}down{{/if}}"></label>
                                </button>
                            </div>
                        </a>
                    </div>
                {{/each}}
            {{else}}
                <div class="alert alert-danger" role="alert" style="margin-top: 4px;">
                    <a href="/googleMap" class="alert-link"><h4>No hay eventos</h4></a>
                </div>
            {{/if}}
        </div>
    </div>
</template>