<template name="userEventList">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="glyphicon glyphicon-home" id="menu-icon-list"></span>
            </a>
        </div>
    </nav>
    <div class="nav-title-center">
        <h3>Eventos Cercanos</h3>
    </div>
    <div class="content-scrollable list-items list-container">
        {{#if userEventListCount}}
            {{#each userEventList}}
                <div class="list-item">
                    <div class="col-xs-10">
                        <h5 class="list-group-item-heading">
                                    <span id="{{_id}}"
                                          class="btn-go-event-marker glyphicon glyphicon-map-marker"></span>
                            {{data.nombre}}
                        </h5>
                        <div style="position: relative; min-height: 35px;">
                            <h5 class="list-group-item-text" style="float: left">{{formatDate fecha}}</h5>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button id="btn-asistencia{{_id}}" type="button"
                                class="btn btn-{{#if userIsParticipant _id}}primary{{else}}default{{/if}} btn-asistencia">
                            <label class="glyphicon glyphicon-thumbs-{{#if userIsParticipant _id}}up{{else}}down{{/if}}"></label>
                        </button>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="alert alert-danger" role="alert" style="margin-top: 4px;">
                <a href="/googleMap" class="alert-link"><h4>No hay eventos</h4></a>
            </div>
        {{/if}}
    </div>
</template>