<template name="login">
    <div class="login-container" style="overflow-y: scroll">
        <div class="row">
            <div class="logo-container">
                <img src="/imgs/login/login_logo.png" width="50%"/>
            </div>
            {{> atForm}}
        </div>
        {{ checkUserLogin}}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         style="margin-top: 12%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5>Bienvenido...</h5>
                </div>
                <div class="modal-body">
                    <h5> ¿Preparado para un pequeño adelanto? Estamos a muy poco de lanzar Bycler 1.0! Ahora puedes
                        disfrutar
                        de esta version Beta mientras nosotros seguimos trabajando en los ultimos detalles. Subete a
                        Bycler!</h5>
                </div>
            </div>
        </div>
    </div>
</template>