<Template name="mapaCalor">
    <div class="demo-wrapper">
        <div class="heatmap">
        </div>
    </div>
    <script src="/js/heatmap.min.js"></script>
    <script>
    window.onload = function() {
        var heatmapInstance = h337.create({
            container: document.querySelector('.heatmap')
        });

        var points = [];
        var max = 0;
        var width = 840;
        var height = 800;
        var len = 300;

        while (len--) {
          var val = Math.floor(Math.random()*100);
          var radius = Math.floor(Math.random()*70);

          max = Math.max(max, val);
          var point = {
            x: Math.floor(Math.random()*width),
            y: Math.floor(Math.random()*height),
            value: val,
            // radius configuration on point basis
            radius: radius
          };
          points.push(point);
        }

        var data = { 
          max: max, 
          data: points 
        };

        heatmapInstance.setData(data);
        
        var hm = document.querySelector('.heatmap');
        var heatmap = h337.create({
            container: hm
        });
    };
  </script>
</Template>